{% extends "layouts/default.twig" %}

{% block title %}Confirm associating your user account{% endblock %}

{% block body %}
<div class="block">
   <h1>Confirm associating your user account</h1>
   <div class="content">
       {% form.open 'user/associate/' ~ provider_name, {"style": "display: inline"} %}
           <p>You are about to associate your user account with your {{ provider_name }} account. After this, you can log in using that account. Are you sure?</p>
           {% form.hidden 'confirmation', 'Y' %}
           {% form.submit null, "Yes" %}
       </form>

       {% form.open 'user/profile', {"style": "display: inline; padding-left: 10px;"} %}
            {% form.submit null, "Cancel" %}
       </form>

   </div>
</div>
{% endblock %}
